
ADR\.egg-info/dependency_links\.txt

ADR\.egg-info/PKG-INFO

ADR\.egg-info/requires\.txt

ADR\.egg-info/SOURCES\.txt

ADR\.egg-info/top_level\.txt

ADR/ADR\.egg-info/dependency_links\.txt

ADR/ADR\.egg-info/PKG-INFO

ADR/ADR\.egg-info/requires\.txt

ADR/ADR\.egg-info/SOURCES\.txt

ADR/ADR\.egg-info/top_level\.txt

# Ignore build folder
ADR\.egg-info/

# Ignore Python runtime files
*.pyc

ADR/\.vscode/
